doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Videx
    
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css')
    
    link(rel='stylesheet' href='/css/join.css')
  body
    main.landing-page
      h1
        i.fas.fa-play-circle
        | Videx
      a.join-btn(href='/videos') JOIN
